imports:
  - { resource: vendor/ec-europa/qa-automation/dist/qa-conventions.yml }

parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - web/
    - config
  tasks.phpcs.triggered_by:
    - php
    - module
    - inc
    - theme
    - install
    - yml

grumphp:
  extensions:
    - EcEuropa\QaAutomation\ExtraTasksExtension
  tasks:
    git_commit_message:
      allow_empty_message: false
      enforce_capitalized_subject: false
      enforce_no_subject_punctuations: false
      enforce_no_subject_trailing_period: false
      enforce_single_lined_subject: true
      type_scope_conventions: []
      max_body_width: 72
      max_subject_width: 60
      matchers:
          The commit message must start with the JIRA issue number: /[A-Z]+\-\d+/
          The JIRA issue number must be followed by a colon and space: /[A-Z]+\-\d+:\s[^\s]/
          The subject must start with capital letter: /[A-Z]+\-\d+:\s[A-Z][a-z]*/
      case_insensitive: false
      multiline: true
      additional_modifiers: ''
